.invisible {
  visibility: hidden;
}
.bg-dark {
  background: #03045e;
}
.bg-med {
  background: #0096c7;
}
.bg-light {
  background: #90e0ef;
}
.bg-lightest {
  background: #caf0f8;
}
.bg-none {
  background: rgba(255, 255, 255, 0);
}
